<div class="header-container">
  <h1 class="top">The Tool Shed</h1>
  <mat-toolbar class="toolbar">
    <span class="bar">
      <mat-icon>warehouse</mat-icon>
      <a routerLink="/shed" class="item-link">Shed</a>
      <mat-icon>upload</mat-icon>
      <a routerLink="/upload" class="item-link">Upload</a>
      <mat-icon>person</mat-icon>
      <a routerLink="/profilepage" class="item-link">Profile</a>
      <mat-icon>handyman</mat-icon>
      <a routerLink="/tools" class="item-link">Tools</a>
    </span>
  </mat-toolbar>
</div>