body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
    color: #333333;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #6B8E23;
  }
  
  .profile-container {
    padding: 20px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #8B4513;
    transition: border 0.3s;
    box-sizing: border-box;
  }

  input[type="text"]:focus,
  textarea:focus {
    border-color: #007BFF;
    outline: none;
  }

  button {
    background-color: #6B8E23; 
    color: #fff;  
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    width: 100%; 
    max-width: 200px; 
  }
  
  button:hover {
    background-color: #4B703F; 
    transform: scale(1.02); 
  }