<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tool Upload</title>
</head>
<body>
  <ul class="item-grid">
    @for(tool of tools; track tool) {
        <mat-card class="item-card">
            <mat-card-header>
              <img mat-card-image [src]="tool.image" alt="{{ tool.name }}" class="tool-image">
            </mat-card-header>
            <mat-card-content>
              <mat-card-title class="card-title" >{{ tool.name }}</mat-card-title>
              <p>{{ tool.description }}</p>
              <mat-card-subtitle [ngClass]="{'available': tool.availabilityStatus, 'unavailable': !tool.availabilityStatus}" class="status">
              {{ tool.availabilityStatus ? 'Available' : 'Unavailable' }}</mat-card-subtitle>
            </mat-card-content>
              <button mat-button color="primary" (click)="toggleAvailability(tool)">
                {{ tool.availabilityStatus ? 'Mark Unavailable' : 'Mark Available' }}
              </button>
              <button mat-button color="warn" (click)="deleteTool(tool.id)">Delete</button>
          </mat-card>
    }
  </ul>
</body>
</html>
