<body>
    <div class="header-container">
        <h1>The Tool Shed</h1>
        <mat-toolbar class="toolbar">
            <span class="bar">
                <mat-icon>warehouse</mat-icon>
                <a routerLink="/shed" class="item-link">Shed</a>
                <mat-icon>upload</mat-icon>
                <a routerLink="/upload" class="item-link">Upload</a>
                <mat-icon>person</mat-icon>
                <a routerLink="/profilepage" class="item-link">Profile</a>
            </span>
        </mat-toolbar>
    </div>
    @if(currTool){
        <div class="card">
            <h2>{{ currTool.name }}</h2>
            <img [src]="currTool.image" alt="{{ currTool.name }}" class="tool-image" />
            <div class="tool-details">
                <p><strong>Description:</strong> {{ currTool.description }}</p>
                <p><strong>Owner:</strong> {{ currTool.ownerPublicName }}</p>
                <p><strong>Status:</strong> {{ currTool.availabilityStatus ? 'Available' : 'Unavailable' }}</p>
                <p><strong>Community Code:</strong> {{ currTool.communityCode }}</p>
                <p><strong>Added:</strong> {{ currTool.timestamp.toDate() | date: 'short' }}</p>
    
    
                <p><strong>Waiting List:</strong></p>
                <ul class="waitlist-text">
                    @for(account of currTool.waitlist; track account){
                        <li> — {{ account }}</li>
                    }            
                </ul>
                <button mat-raised-button color="primary" (click)="enterWaitlist()">
                    Enter Waitlist
                </button>
            </div>
        </div>
    }
    </body>
 
    