<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tool Upload</title>
</head>
<body>
  <mat-toolbar class="toolbar"> 
    <span>
      <mat-icon>home</mat-icon>
      <a routerLink="/shed">Shed</a>
      <mat-icon>about</mat-icon>
      <a routerLink="/upload">Upload</a>
      <mat-icon>tools</mat-icon>
      <a routerLink="/tools">Tools</a>
      <mat-icon>profile</mat-icon>
      <a routerLink="/profilepage">Profile</a>
    </span>
  </mat-toolbar>
  <h1>Upload Tool</h1>
  <!-- Tool upload form -->
  <div>
    <form (ngSubmit)="addToolFromInput()">
      <label for="toolName">Tool Name:</label>
      <input id="toolName" [(ngModel)]="toolName" name="toolName" type="text" placeholder="Enter tool name" required />

      <label for="toolDescription">Description:</label>
      <textarea id="toolDescription" [(ngModel)]="toolDescription" name="toolDescription" placeholder="Enter tool description" required></textarea>

      <label for="toolImage">Upload Tool Image:</label>
      <input type="file" id="toolImage" (change)="handleImageUpload($event)" />   

      <label for="toolAvailabilityStatus">
        <input id="toolAvailabilityStatus" [(ngModel)]="toolAvailabilityStatus" name="toolAvailabilityStatus" type="checkbox" /> Available
      </label>

      <button type="submit" [disabled]="!toolName || !toolDescription">Add Tool</button>
    </form>
  </div>
</body>
</html>
